.movieList {
    margin-left: 36px;
}

.movieLink {
    color: #032fd9;
    text-decoration: underline;
    font-family: inherit;
    transition: color 250ms linear, text-shadow 250ms linear;
}

.movieLink:hover,
.movieLink:focus {
    color: #8a2be8;
    text-shadow: 0.5px 0.5px 0.5px;
}

.movieItem:not(:last-child) {
    margin-bottom: 8px;
}
