.castList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 12px;
}

.castItem {
    margin-left: 36px;
}

.castImage {
    max-width: 120px;
    height: auto;
    margin-bottom: 12px;
}

.castImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.castName {
    margin-bottom: 12px;
}
